
.contenedor {
  margin-top: 140px;
  background-color: #FFFFFF;  
  /* width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-gap: 20px; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.contenedorCarrousel {
  position: relative;
  height: 518px;
  /* width: 346px; */
  width: auto;
}

.imagenTarjeta{
  height: 100%;
  width: auto;
}

.flechas {
  height: 518px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; 
  /* padding: 20px; */
}
.f_izq {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: rgba(0, 0, 0, 0.15);
}
.f_drc {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  background: rgba(0, 0, 0, 0.15);
}

.card {
  position: relative;
  background-image: url('/retrato.jpeg');
  background-repeat: no-repeat;
  background-position: -120px 0;
  background-size: cover;
  backdrop-filter: blur(200px);
  background-color: rgba(48, 48, 48, 0.6);
  width: 650px;
  height: 518px;
}

.card h2{
  position: absolute;
  font-family: var(--fuente);
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  margin-left: 225px;
  margin-top: 70px;

  color: #FFFFFF;
}

.card p{
  position: absolute;
  font-family: var(--fuente);
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 32px;
  text-align: justify;
  margin-top: 180px;
  padding-left: 40px;
  padding-right: 40px;

  color: #FFFFFF;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

@media (max-width: 768px) {
  .contenedor {
    width: 100%;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedorCarrousel {
    height: 400px;
    width: auto;
  }
  .contenedorCarrousel img {
    object-fit: cover;
  }
  .flechas {
    height: 400px;
    width: 100%;
  }
  .card {
    height: 400px;
    width: 380px;
    display: grid;
    justify-content: center;
  }
  .card img {
    object-fit: cover;
  }
  .card h2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 0px;
    margin-top: 50px;
    margin-left: 0px;
  }
  .card p{
    font-size: 14px;
    line-height: 28px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 90px;
  }
}

@media (max-width: 460px){
  .contenedor {
    /* margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 20px;
    grid-auto-flow: dense; */
    width: 100%;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedorCarrousel {
    height: 400px;
    width: auto;
  }
  .flechas {
    height: 400px;
    width: 100%;
  }
  .card {
    margin: 0 auto;
    width: 300px;
  }
  .card h2{
    margin-top: 50px;
  }
  .card p{
    margin-top: 90px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 12px;
  }
}