.contenedor {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 100px;
}

.bloque1 {
  background-color: aquamarine;
  width: 418px;
  height: 518px;
}

.bloque2 {
  background-image: url('/retrato.jpeg');
  background-repeat: no-repeat;
  background-position: -120px 0;
  background-size: cover;
  backdrop-filter: blur(200px);
  background-color: rgba(48, 48, 48, 0.6);
  width: 650px;
  height: 518px;
}

.bloque2 h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;

  text-align: center;
  margin-top: 80px;

  color: #FFFFFF;
}

.bloque2 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  margin-top: 50px;
  padding-left: 60px;
  padding-right: 60px;

  color: #FFFFFF;

}