.contenedor {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 1067px;
    display: flex;
    justify-content: center;
}

.fondo {
    position: absolute;
    /* background-color: rgba(234, 234, 234, 0.7); */
}

.formulario {
    display: grid;
    justify-content: center;
    position: absolute;
    width: 900px;
    height: 680px;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
    margin-top: 300px;
}
.formulario h4 {
    margin-top: 20px;
    margin-bottom: -60px;
    font-family: var(--fuente2);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    background-color: #e52626;

    color: #FFFFFF;
}

.contenido {
    margin-top: 40px;
    width: 100%;
}

.filas {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 20px;
    margin-bottom: 15px;
}

.filas h3 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #1E1E1E;

    margin-right: 145px;

}

.filas .mensaje_error{
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #e52626;

    margin-right: 145px;
}

.filas input::placeholder{
    padding-left: 10px; 
}

.filas textarea {
    box-sizing: border-box;
    border: 1px solid #26C0E5;
    border-radius: 5px;
    padding: 20px;
    width: 63.5rem;
}
.filas .error {
    box-sizing: border-box;
    border: 1px solid #e52626;
    border-radius: 5px;
    padding: 20px;
    width: 63.5rem;
}

.filas .separacion1 {
    margin-right: 126px;
}
.filas .separacion2 {
    margin-right: 98px;
}

.campo1 {
    box-sizing: border-box;
    border: 1px solid #26C0E5;
    border-radius: 5px;
    text-indent: 10px;

    width: 244px;
    height: 54px;
}
.error1{
    box-sizing: border-box;
    border: 1px solid #e52626;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-indent: 10px;

    width: 244px;
    height: 54px;
}

.campo2 {
    box-sizing: border-box;
    border: 1px solid #26C0E5;
    border-radius: 5px;
    text-indent: 10px;

    width: 371px;
    height: 54px;
}
.error2{
    box-sizing: border-box;
    border: 1px solid #e52626;
    border-radius: 5px;
    text-indent: 10px;

    width: 371px;
    height: 54px;
}

.dropdown {
    box-sizing: border-box;
    border: 1px solid #26C0E5;
    border-radius: 5px;
    text-indent: 10px;
    text-align: center;

    width: 244px;
    height: 54px;
}
.dropdown_error {
    box-sizing: border-box;
    border: 1px solid #e52626;
    border-radius: 5px;
    text-indent: 10px;
    text-align: center;

    width: 244px;
    height: 54px;
}

.boton {
    display:flex;
    justify-content: right;
    margin-top: -30px;
}

.submit {

    font-family: var(--fuente);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;

    /* background: linear-gradient(0deg, #2860ad 0%, #5fb9e9 100%); */
    background-color: #5b7cff;
    border-radius: 40px;
    width: 100%;
    height: 53px;
    cursor: pointer;
}
.submit:hover {
    background: linear-gradient(0deg, #14478e 0%, #50a3c4 100%);
}

@media (max-width: 768px) {
    .contenedor {
        height: 780px;
    }
    .formulario {
        margin-top: 160px;
        width: 82%;
        height: 74%;
        padding-left: 68px;
        padding-right: 68px;
    }
    .formulario h4 {
        font-size: 24px;
        line-height: 36px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: -2.25rem;
        margin-top: 1.5rem;
        width: 90%;
    }
    .contenido {
        margin-top: 3rem;
    }
    .filas h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .filas .separacion1 {
        margin-right: 174px;
    }
    .filas .separacion2 {
        margin-right: 168px;
    }
    .campo1 {
        height: 44px;
        width: 244px;
    }
    .error1{
        height: 44px;
        width: 244px;
    }
    .campo2 {
        height: 44px;
        width: 331px;
    }
    .error2{
        height: 44px;
        width: 331px;
    }
    .dropdown {
        height: 44px;
    }
    .dropdown_error {
        height: 44px;
    }
    .filas textarea {
        height: 18rem;
        width: 59.4rem;
    }
    .filas .error {
        height: 18rem;
        width: 59.4rem;
    }
    .boton {
        margin-top: -10px;
    }
}

@media (max-width: 460px) {
    .contenedor {
        margin-top: 2rem;
        height: 660px;
        width: 100%;
    }
    .formulario {
        margin-top: 8rem;
        width: 84%;
        height: 560px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .formulario h4 {
        font-size: 14px;
        line-height: 36px;
        margin: 0 auto;
        margin-top: 1.5rem;
        width: 90%;
    }
    .contenido {
        margin: 0 auto;
        width: 60%;
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .filas {
        gap: 0.75rem;
    }
    .filas h3 {
        font-size: 14px;
        line-height: 20px;
    }
    .filas .separacion1 {
        margin-right: 0px;
        width: 9rem;
    }
    .filas .separacion2 {
        margin-right: 0px;
        width: 18.4rem;
    }
    .campo1 {
        height: 30px;
        width: 9rem;
        text-indent: 1px;
    }
    .error1{
        height: 30px;
        width: 9rem;
        text-indent: 1px;
    }
    .campo2 {
        height: 30px;
        width: 18.4rem;
        text-indent: 1px;
    }
    .error2{
        height: 30px;
        width: 18.4rem;
        text-indent: 1px;
    }
    .dropdown {
        height: 30px;
        width: 9rem;
    }
    .dropdown_error {
        height: 30px;
        width: 9rem;
    }
    .filas textarea {
        height: 24rem;
        width: 28.2rem;
    }
    .filas .error {
        height: 24rem;
        width: 28.2rem;
    }
    .boton {
        width: 30rem;
        padding: 12px;
        margin-top: -1rem;
    }
}