
.footer {
    background: #100E1F;
    border: 1px solid rgba(3, 3, 3, 0.1);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.logo{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80px;
}

.footer .barra {
    margin: auto;
    height: 60px;
    display: flex;
    justify-content: center;

    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
    }
}

.navegacion {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 10px;
}
@media (min-width: 768px) {
    .navegacion {
        margin: 0;
    }
}
.navegacion a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion a:hover {
    color: #d3d3d3;
}

@media (max-width: 768px) {
    .header .barra {
        height: 120px;
    }
    .navegacion1 {
        margin: 0px;
        gap: 2rem;
    }
    .header .barra {
        height: 60px;
    }
}

@media (max-width: 320px) {
    .header {
        margin-top: -2px;
    }
    .header .barra {
        height: 80px;
    }
    .logo {
        width: 60px;
    }
    .navegacion a {
        font-size: 10px;
        padding: 2px;
    }

}