.header {
    background: rgb(32, 32, 32);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-position: center;
    background-size: cover;
}

.logo{
    /* padding-left: 20px;
    padding-top: 3px; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
}

.header .barra {
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
@media (min-width: 768px) {
    .navegacion {
        margin: 0;
    }
}
.navegacion a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* padding: .5rem; */
    padding: 10px;
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion a:hover {
    color: #d3d3d3;
}

.navegacion .active {
    /* border: 2px solid #87D6E9; */
    border: 2px solid var(--white);
    border-radius: 4px;
}

.navegacion li a{
    background-color:rgb(32, 32, 32);
    color:#fff;
    text-decoration:none;
    display:block;
}
    
.navegacion li a:hover{
    background-color:rgb(32, 32, 32);
}
    
.navegacion li ul{
    display:none;
    position:absolute;
    min-height:140px;
}
    
.navegacion li:hover > ul{ 
    display:block;  
}
    
.navegacion li ul li{
    position:relative;
}

.navegacion li ul li ul{
    right:-140px;
    top:0px;
}
    
.navegacion > li{
    float:left;
    list-style: none;
}

.list a{
    text-transform: none;
}