.header {
    background: rgba(35, 35, 35, 0.6);
    border: 1px solid rgba(3, 3, 3, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-position: center;
    background-size: cover;
}

.logo{
    padding-left: 20px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra {
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion1 {
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
}
@media (min-width: 768px) {
    .navegacion1 {
        margin: 0;
    }
}
.navegacion1 a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion1 a:hover,
.active {
    background-color: #87D6E9;
}


.navegacion2 {
    margin-top: 5rem;
    display: flex;
    gap: 5rem;
}
@media (min-width: 768px) {
    .navegacion2 {
        margin: 0;
    }
}
.navegacion2 a {
    color: var(--white);
    text-decoration: none;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion2 a:hover,
.active {
    background-color: #87D6E9;
}