.header {
    background: rgba(35, 35, 35, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-position: center;
    background-size: cover;
}

.logo{
    /* padding-left: 20px;
    padding-top: 3px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra {
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}
@media (min-width: 768px) {
    .navegacion {
        margin: 0;
    }
}
.navegacion a {
    color: var(--white);
    border-radius: 4px;
    text-decoration: none;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    /* padding: .5rem; */
    padding: 10px;
    transition-property: background-color;
    transition-duration: 300ms;
}
.navegacion a:hover {
    color: #d3d3d3;
}

.navegacion .active {
    /* border: 2px solid #87D6E9; */
    border: 2px solid var(--white);
    border-radius: 4px;
}