
.inicio {
    background: #fff url(/background.png) center center/cover no-repeat;
    height: 100vh;
    padding-top: 200px;
    width: 100%;
  }

.container {
   display: grid;
   gap: 20px;
   padding: 80px; 
}

.texto {
    display: grid;
    gap: 20px;
}

.texto h1 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 48px;

    color: #FFFFFF;
}

.texto h2 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 200px;

    color: #FFFFFF;
}

.texto span {
    color: #87D6E9;
    font-size: 125px;
    font-family: 'Dancing Script';
    font-style: 'cursive';
}

.texto span:before {

    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
        overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
}

.texto p {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 85px;

    color: #FFFFFF;
}

.botones {
    display: grid;
    font-size: 66px;
    gap: 60px;
    grid-auto-flow: column;
    width: fit-content;
    
}

.botones .button1 {
    box-sizing: border-box;
    background-color: #79bfd1;
    border: 3px solid #79bfd1;
    border-radius: 40px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding: 16px 36px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.botones .button2 {
    box-sizing: border-box;
    background-color: transparent;
    border: 3px solid #79bfd1;
    border-radius: 40px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    padding: 16px 36px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin-top: 80px;
    display: grid;
    justify-content: center;
}
.scroll{
    position: relative;
    width: 24px;
    height: 24px;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
  
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
  
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
  
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
  
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
  
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
  
.text {
    display: block;
    margin-top: 75px;
    margin-left: -54px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}
  
@keyframes pulse {
    to {
      opacity: 1;
    }
}