
.inicio {
    background: #fff url(/background.png) center center/cover no-repeat;
    height: 100vh;
    width: 100vw;
}

.container {
   display: grid;
   width: 100vw;
   gap: 20px;
   padding: 4rem; 
}

.texto {
    margin-top: 36rem;
    display: grid;
    gap: 20px;
}

.texto h1 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 6.5vw;
    line-height: 7vw;

    color: #FFFFFF;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.texto h2 {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 200px;

    color: #FFFFFF;
}

.texto span {
    color: #82e6ff;
    font-size: 125px;
    font-family: 'Dancing Script';
    font-style: 'cursive';
}

.texto span:before {

    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;

    animation: typing 2s steps(12),
        blink .5s infinite step-end alternate;
        overflow: hidden;
}

@keyframes typing {
    from { width: 0 }
}
@keyframes blink {
    50% { border-color: transparent }
}

.texto p {
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 85px;

    color: #FFFFFF;
}

.botones {
    display: grid;
    font-size: 4vw;
    gap: 4vw;
    grid-auto-flow: column;
    width: fit-content;
    
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}

.botones .button1 {
    box-sizing: border-box;
    background-color: #5b97ff;
    border: 3px solid #5b97ff;
    /* border-radius: 3px;
    border-color: linear-gradient(to top, #1d3035, #4c7f8b, #83d7ec);
    background: linear-gradient(to top, #1d3035, #4c7f8b, #83d7ec); */
    border-radius: 40px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    color: #FFFFFF;
    padding: 16px 36px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.botones .button2 {
    box-sizing: border-box;
    background-color: transparent;
    border: 3px solid #5b97ff;
    border-radius: 40px;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    color: #FFFFFF;
    padding: 16px 36px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.contenedor {
    width: 100%;
    margin-top: 0.2vw;
    margin-bottom: 4vw;
    display: grid;
    justify-content: center;
}
.scroll{
    position: relative;
    width: 24px;
    height: 24px;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
  
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
  
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
  
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
  
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
  
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
  
@keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
  
.text {
    /* display: block; */
    display: flex;
    justify-content: center;
    margin-top: 75px;
    /* margin-left: -54px; */
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}
  
@keyframes pulse {
    to {
      opacity: 1;
    }
}

@media (min-width: 1000px) {
    .contenedor {
        margin-top: 8rem;
    }
}

@media (max-width: 1000px) {
    .contenedor {
        margin-top: 8rem;
    }
}

@media (max-width: 768px) {
    .inicio {
        background: #fff url(/background.png) center center/cover no-repeat;
        height: 86vh;
        height: 90vh;
        background-position-x: -220px;
    }
    .container {
        margin-top: 4rem;
        padding: 2.75rem; 
    }
    .texto {
        margin-top: 26rem;
        gap: 0px;
    }
    .texto h1  {
        margin-top: 180px;
        font-size: 6.5rem;
        line-height: 8rem;
    }
    .texto span {
        font-size: 50px;
    }
    .contenedor {
        margin-top: 4rem;
    }
    .text {
        margin-top: 55px;
        font-size: 14px;
    }
    .chevron {
        display: flex;
        justify-content: center;
        margin-top: -10px;
        width: 22px;
        height: 6px;
    }
    .botones {
        font-size: 46px;
        gap: 40px;
    }
    .botones .button1 {
        font-size: 26px;
    }
    .botones .button2 {
        font-size: 26px;
    }
    .contenedor {
        opacity: 0;
    }
}

@media (max-width: 460px) {
    .inicio {
        background: #fff url(/background.png) center center/cover no-repeat;
        background-position-x: -210px;
        height: 66vh;
        width: 100vw;

    }
    .container {
        padding: 2rem; 
    }
    .texto {
        margin-top: 10rem;
        gap: 0px;
    }
    .texto h1  {
        font-size: 3rem;
        line-height: 4.55rem;
    }
    .texto span {
        font-size: 28px;
    }
    .contenedor {
        margin-top: 2rem;
        opacity: 1;
    }
    .text {
        margin-top: 50px;
        font-size: 12px;
    }
    .chevron {
        display: flex;
        justify-content: center;
        width: 16px;
        height: 4px;
    } 
    .botones {
        grid-auto-flow: column; 
        justify-content: center;
        align-items: center;
        font-size: 26px;
        gap: 16px;
    }
     .botones .button1 {
        font-size: 12px;
        padding: 12px 32px;
    }
    .botones .button2 {
        font-size: 12px;
        padding: 12px 32px;
    } 
}

@media (max-width: 390px) {
    .inicio {
        height: 60vh;
    }
    .container {
        padding: 0.75rem; 
        margin-left: 6px;
    }
    .texto {
        margin-top: 75px;
    }
}