@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

.planContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.planContainer > .pricingTableTitle {
  display: block;
  width: 100%;
  text-align: center;
  color: #6e768d;
  font-size: 3em;
  font-size: 300%;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
}
.planContainer > .pricingTableSubtitle {
  display: block;
  width: 100%;
  text-align: center;
  color: #b4bdc6;
  font-size: 1.8em;
  letter-spacing: 0.04em;
  margin-bottom: 60px;
  
}
@media screen and (max-width: 480px) {
  .pricingTable > .pricingTableSubtitle {
    margin-bottom: 30px;
  }
}

.plan {
  background: white;
  width: 20em;
  /* height: 1020px; */
  box-sizing: border-box;
  text-align: center;
  margin: 1em;
  margin-bottom: 1em;
  border: 2px solid rgba(0, 0, 0, 0.20);
}
.plan .titleContainer {
  background-color: #f3f3f3;
  padding: 1em;
}
.plan .titleContainer .title {
  font-size: 1.45em;
  text-transform: uppercase;
  color: #5b97ff;
  font-weight: 700;
}
.plan .infoContainer {
  padding: 1em;
  color: #2d3b48;
  box-sizing: border-box;
}
.plan .infoContainer .price {
  font-size: 1.35em;
  padding: 1em 0;
  font-weight: 600;
  margin-top: 0;
  display: inline-block;
  width: 80%;
}
.plan .infoContainer .price p {
  font-size: 1.75em;
  display: inline-block;
  margin: 0;
}
.plan .infoContainer .price span {
  font-size: 1.0125em;
  display: inline-block;
}
.plan .infoContainer .desc {
  padding-bottom: 1em;
  border-bottom: 2px solid #f3f3f3;
  margin: 0 auto;
  width: 90%;
}
.plan .infoContainer .desc em {
  font-size: 1em;
  font-weight: 500;
}
.plan .infoContainer .features {
  font-size: 1em;
  list-style: none;
  padding-left: 0;
  text-align: left;
}
.disabled {
  pointer-events: none;
}
.plan .infoContainer .features li {
  padding: 0.5em;
}
.plan .infoContainer .features span {
  color: #5b97ff;
}
.plan .infoContainer .selectPlan {
  border: 2px solid #5b97ff;
  padding: 0.75em 1em;
  border-radius: 2.5em;
  cursor: pointer;
  transition: all 0.25s;
  margin: 1em auto;
  box-sizing: border-box;
  max-width: 70%;
  display: block;
  font-weight: 700;
}
.selectPlan {
  border: 2px solid #5b97ff;
  padding: 0.75em 1em;
  border-radius: 2.5em;
  cursor: pointer;
  transition: all 0.25s;
  margin: 1em auto;
  box-sizing: border-box;
  max-width: 70%;
  display: block;
  font-weight: 700;
}
.plan .infoContainer .selectPlan:hover {
  background-color: #5b97ff;
  color: white;
}
.selectPlan:hover {
  background-color: #5b97ff;
  color: white;
}

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
  }
  .planContainer .plan {
    width: 100%;
    margin: 1em 0;
  }
}

.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Código para formulario */

.contenedor {
  margin-top: 40px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;

  background: #fff url(/paisaje.jpeg) center center/cover no-repeat;
}
.overlay {
  background-color: rgb(40, 40, 40, 0.5);
  backdrop-filter: blur(2px);
}

.titulo {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}
.titulo h1 {
  border: 2px solid var(--white);
  border-radius: 4px;
  font-family: var(--fuente);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  padding: 1rem 4rem;

  color: #ffffff;
}

/* Formulario */

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.formulario h4.mensaje_error{
  width: 40vw;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: var(--fuente2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #e52626;

  color: #FFFFFF;
}
.formulario h4.mensaje_exitoso{
  width: 40vw;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: var(--fuente2);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #26e56f;

  color: #FFFFFF;
}

.input_group, .section_group, .textarea_group {
  position: relative;
  margin-top: 18px;
}
 
.input, .section {
  width: 40vw;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1.5rem 8rem;
  font-size: 2rem;
  text-align: center;
  color: #f5f5f5;
  box-sizing: border-box;
  text-indent: 10px;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  position: relative;
}
.input_error, .section_error {
  width: 40vw;
  border: solid 1.5px #bd1818;
  border-radius: 1rem;
  background: none;
  padding: 1.5rem 8rem;
  font-size: 2rem;
  text-align: center;
  color: #f5f5f5;
  box-sizing: border-box;
  text-indent: 10px;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
  position: relative;
}
.section option {
  position: absolute;
  margin: 0 auto;
  top: 0;
  background-color: rgb(40, 40, 40);
}
.section_error option {
  position: absolute;
  margin: 0 auto;
  top: 0;
  background-color: rgb(40, 40, 40);
}

.textarea {
  width: 40vw;
  height: 160px;
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.textarea_error {
  width: 40vw;
  height: 160px;
  border: solid 1.5px #bd1818;
  border-radius: 1rem;
  background: none;
  padding-top: 4rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 2rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
 
.user_label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
 
.input.input:focus, .input input:valid, 
.section.section:focus, .section select:valid,
.textarea.textarea:focus, .textarea textarea:valid {
  outline: none;
  border: 1.5px solid #5b97ff;
}
.input_error.input_error:focus, .input_error input:valid, 
.section_error.section_error:focus, .section_error select:valid,
.textarea_error.textarea:focus, .textarea_error textarea:valid {
  outline: none;
  border: 1.5px solid #bd1818;
}
 
.input.input:focus ~ label, .input input:valid ~ label,
.section.section:focus ~ label, .section section:valid ~ label,
.textarea.textarea:focus ~ label, .textarea textarea:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #5b97ff;
  border-radius: 1rem;
  padding: 0 .4em;
  color: #e8e8e8;
}
.input_error.input_error:focus ~ label, .input_error input:valid ~ label,
.section_error.section_error:focus ~ label, .section_error select:valid ~ label,
.textarea_error.textarea_error:focus ~ label, .textarea_error textarea:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #5b97ff;
  border-radius: 1rem;
  padding: 0 .2em;
  color: #bd1818;
}

.boton {
  display:flex;
  justify-content: center;
  align-items: center;
}

.submit {
  font-family: var(--fuente);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  width: 40vw;

  color: #FFFFFF;

  background-color: transparent;
  border: 2px solid #5b97ff;
  padding: 0.5em 6em;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.25s;
  margin: 1em 0em;
  box-sizing: border-box;
  display: block;
}
.submit:hover {
  background-color: #5b97ff;
  color: white;
}

@media (max-width: 890px) {
  .formulario h4.mensaje_error{
      width: 80vw;
  }
  .formulario h4.mensaje_exitoso{
      width: 80vw;
  }
  .input, .section {
      width: 80vw;
  }
  .input_error, .section_error {
      width: 80vw;
  }
  .textarea {
      width: 50vw;
  }
  .textarea_error {
      width: 50vw;
  }
  .boton {
      padding: 0em 0em;
  }
  .submit {
      width: 50vw;
      padding: 0.5em 0em;
  }
}

@media (max-width: 460px) {
  .formulario {
      width: 100%;
      padding: 0rem 4rem;
  }
  .container h3 {
      font-size: 16px;
      line-height: 30px;
  }
  .section {
      padding-right: 1rem;
  }
  .section_error {
      padding-right: 1rem;
  }
  .textarea_group {
      width: 100%;
  }
  .textarea {
      width: 100%;
  }
  .textarea_error {
      width: 100%;
  }
  .boton {
      padding: 0em 0em;
  }
  .submit {
      width: 80vw;
      padding: 0.5em 0em;
  }
}

/* Checkbox */
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
 }

 .container {
  margin-left: 10px;
  margin-bottom: -3.5px;
  display: inline-block;
  /* vertical-align: middle; */
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
 }
 
 /* Create a custom checkbox */
 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: #FFFFFF;
  border: 2px solid #5b97ff;
  border-radius: 7px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
 }
 
 /* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
  background-color: #5b97ff;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
 }
 
 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
  display: flex;
  align-items: center;
  justify-content: center;

 }
 
 /* Style the checkmark/indicator */
 .container .checkmark:after {
  left: 0.40em;
  top: 0.20em;
  width: 0.24em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
 }