.contenedor {
    margin-top: 20px;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
}

.contenedor h2 {
    width: 100%;
    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    color: #000000;
}

.cards {
    width: 100%;
    margin-top: 40px;

    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
    grid-template-rows: 1fr; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

.card {
    width: 248px;
    height: 387px;
    position: relative;
}
.card h3 {
    position: absolute;
    margin: 25px;
    margin-top: 320px;

    font-family: var(--fuente);
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 38px;
    text-align: center;

    color: #FFFFFF;
    transition: margin-top .5s ease;
}
.card:hover h3 {
    margin-top: 240px;
}

.card h4 {
    position: absolute;
    margin: 25px;
    margin-top: 290px;

    font-family: var(--fuente);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: left;

    color: #FFFFFF;
    opacity: 0;
    transition: opacity .5s ease;
}
.card:hover h4 {
    opacity: 1;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    /* backdrop-filter: blur(2px); */
    transition: background 0.5s ease;
}
.card:hover .overlay{
    background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .contenedor {
        margin-bottom: 60px;
    }
    .contenedor h2 {
        margin-left: -60px;
        margin-right: -60px;
        padding-bottom: 10px;
    }
    .cards {
        margin-top: 30px;
        grid-template-columns: repeat(2, minmax(220px, 1fr));
        grid-auto-flow: dense;
    }
    .card {
        width: 220px;
        height: 387px;
    }

}

@media (max-width: 460px) {
    .contenedor {
        margin-bottom: 60px;
    }
    .contenedor h2 {
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .cards {
        grid-template-columns: repeat(2, minmax(140px, 1fr));
        grid-auto-flow: dense;
        grid-gap: 8px;
    }
    .card {
        width: 140px;
        height: 280px;
    }
    .card h3 {
        font-size: 18px;
        line-height: 38px;
        margin: 20px;
        margin-top: 236px;
    }

}